<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<div>
  <%= form_with url: "#", local: true, class: "input-group", method: "get" do |f| %>
    <div class='input-group date w150 left' id='datetimepicker1'>
        <%= f.text_field :start_time, class: "form-control" %>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    <div class='input-group date w150 left' id='datetimepicker2'>
        <%= f.text_field :end_time, class: "form-control" %>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    <span class="input-group-prepend left ">
      <%= f.button "", class: "btn btn-primary glyphicon glyphicon-search" %>
    </span>
  <% end %>
</div>
<hr class="mt-0">
<table class = "table table-responsive-sm table-hover table-outline mb-0">
  <thead class="thead-light">
    <tr>
      <th class = "text-center"><%= t ".user" %></th>
      <th class = "text-center"><%= t ".name" %></th>
      <th class = "text-center"><%= t ".description" %></th>
      <th class = "text-center"><%= t ".country" %></th>
      <th class = "text-center"><%= t ".city" %></th>
      <th class = "text-center"><%= t ".district" %></th>
      <th class = "text-center"><%= t ".picture" %></th>
      <th class = "text-center"><%= t ".phone" %></th>
      <th class = "text-center"><%= t ".start_time" %></th>
      <th class = "text-center"><%= t ".end_time" %></th>
      <th class = "text-center"><%= t ".limit" %></th>
      <th class = "text-center"><%= t ".total" %></th>
      <th class = "text-center"><%= t ".option" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "revenue", collection: @revenues %>
  </tbody>
</table>
<hr class="mt-0">
<%= will_paginate @revenues %>
