<section class="banner-area relative">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row fullscreen align-items-center justify-content-between">
      <%= render "layouts/left_sidebar" %>
      <div class="col-lg-4 col-md-6 banner-right">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="flight-tab" data-toggle="tab" href="#flight" role="tab" aria-controls="flight" aria-selected="true"><%= t ".pitch" %></a>
          </li>
        </ul>
        <%= render "layouts/right_sidebar" %>
      </div>
    </div>
  </div>
</section>
<section class="other-issue-area section-gap">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-70 col-lg-9">
        <div class="title text-center">
          <h1 class="mb-10"><%= t ".soccer_update" %></h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="single-other-issue">
          <div class="thumb img-default">
            <%= image_tag "1.png", alt: t(".rss_feed") %>
          </div>
          <h4><%= t ".name" %></h4>
          <p><%= t ".description" %></p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-other-issue">
          <div class="thumb img-default">
            <%= image_tag "2.jpg", alt: t(".rss_feed") %>
          </div>
          <h4><%= t ".name" %></h4>
          <p><%= t ".description" %></p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-other-issue">
          <div class="thumb img-default">
            <%= image_tag "3.jpg", alt: t(".rss_feed") %>
          </div>
          <h4><%= t ".name" %></h4>
          <p><%= t ".description" %></p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-other-issue">
          <div class="thumb img-default">
            <%= image_tag "4.jpg", alt: t(".rss_feed") %>
          </div>
          <h4><%= t ".name" %></h4>
          <p><%= t ".description" %></p>
        </div>
      </div>
      <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="single-other-issue">
          <div class="thumb img-default">
            <%= image_tag "5.jpeg", alt: t(".rss_feed") %>
          </div>
          <h4><%= t ".name" %></h4>
          <p><%= t ".description" %></p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-other-issue">
          <div class="thumb img-default">
            <%= image_tag "6.jpeg", alt: t(".rss_feed") %>
          </div>
          <h4><%= t ".name" %></h4>
          <p><%= t ".description" %></p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-other-issue">
          <div class="thumb img-default">
            <%= image_tag "7.jpg", alt: t(".rss_feed") %>
          </div>
          <h4><%= t ".name" %></h4>
          <p><%= t ".description" %></p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-other-issue">
          <div class="thumb img-default">
            <%= image_tag "8.jpg", alt: t(".rss_feed") %>
          </div>
          <h4><%= t ".name" %></h4>
          <p><%= t ".description" %></p>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
