<!DOCTYPE html>
<html>
  <head>
    <title>Layout</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all",
                            "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>
  <body>
    <%= render "layouts/admin/sidebar" %>
    <div class = "c-wrapper">
      <%= render "layouts/admin/header" %>
      <div class = "c-body">
        <div class = "container-fluid">
          <div class = "card">
            <% flash.each do |message_type, message| %>
              <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
            <% end %>
            <%= yield %>
          </div>
        </div>
      </div>
      <%= render "layouts/admin/footer" %>
    </div>
  </body>
</html>
