<section class="banner-area relative">
  <div class="container pad-top150">
    <% provide :title, t(".title") %>
    <h1 class="cl-white"><%= t ".title" %></h1>
    <div>
      <div>
        <%= form_with url: bookings_path, local: true, class: "input-group", method: :get do |f| %>
          <%= f.text_field :search, class: "form-control left wid30", id: "input1-group2", value: params[:search] %>
          <span class="input-group-prepend left ">
            <%= f.button "", class: "btn btn-primary glyphicon glyphicon-search" %>
          </span>
        <% end %>
      </div>
    </div>
    <hr class="mt-0">
    <table class = "table table-responsive-sm table-hover table-outline mb-0 bg-white">
      <thead class="thead-light">
        <tr>
          <th class = "text-center"><%= t ".pitch" %></th>
          <th class = "text-center"><%= t ".subpitch" %></th>
          <th class = "text-center"><%= t ".address" %></th>
          <th class = "text-center"><%= t ".start" %></th>
          <th class = "text-center"><%= t ".end" %></th>
          <th class = "text-center"><%= t ".option" %></th>
        </tr>
      </thead>
      <tbody>
        <%= render @bookings %>
      </tbody>
    </table>
    <hr class="mt-0">
  </div>
</section>
<%= will_paginate @bookings %>
