<% provide :title, t(".title") %>
<h1><%= t ".title" %> </h1>
<div>
  <%= form_with url: admin_subpitch_types_path, local: true, class: "input-group wid30 left", method: "get" do |f| %>
    <span class="input-group-prepend left">
      <%= f.button "", class: "btn btn-primary" do %>
        <svg class="c-icon" class="h14 w20">
          <use xlink:href="/assets/admin/coreui/free-symbol-defs.svg#cui-magnifying-glass"></use>
        </svg><%= t "general.search" %>
      <% end %>
    </span>
    <%= f.text_field :search, class: "form-control wid30 left", id: "input1-group2", value: params[:search] %>
  <% end %>
  <%= link_to t(".add"), new_admin_subpitch_type_path, class: "right"%>
</div>

<hr class="mt-0">
<table class = "table table-responsive-sm table-hover table-outline mb-0">
  <thead class="thead-light">
    <tr>
      <th class = "text-center"><%= t ".name" %></th>
      <th class = "text-center"><%= t ".description" %></th>
      <th class = "text-center"><%= t ".option" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @subpitch_types %>
  </tbody>
</table>
<hr class="mt-0">
<%= will_paginate @subpitch_types %>
