<div style = "display: table; width: 100%; margin-bottom: 20px;">
  <div class="col-sm-6 col-lg-8" style="margin: 0 auto; text-align: center; float: none; ">
    <div class="card" style="margin-bottom: 15px;">
      <% if @subpitch.picture.attached? %>
        <div class="card-header bg-facebook content-center">
          <%= image_tag @subpitch.picture, style: "max-width: 350px; height: 100px;" %>
        </div>
      <% end %>
      <div class="card-body row text-center">
        <div class="col">
          <div class="text-uppercase text-muted small"><%= t ".name", add: @subpitch.name %></div>
          <div class="text-uppercase text-muted small"><%= t ".price_per_hour", add: @subpitch.price_per_hour %></div>
          <div class="text-uppercase text-muted small"><%= t ".size", add: @subpitch.size %></div>
        </div>
        <div class="c-vr"></div>
        <div class="col">
          <div class="text-uppercase text-muted small"><%= t ".desc", add: @subpitch.description %></div>
          <div class="text-uppercase text-muted small"><%= t ".subpitch_type", add: @subpitch.subpitch_type.name %></div>
        </div>
      </div>
    </div>

    <ul id = "list_comment">
      <%= render partial: "subpitches/comments/comment", collection: @comments %>
    </ul>
    <%= render "subpitches/comments/form" %>
  </div>
</div>
