<footer class="footer-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-3  col-md-6 col-sm-6">
        <div class="single-footer-widget">
<<<<<<< HEAD
          <h6><%= t ".about" %></h6>
          <p>
            <%= t ".content1" %>
=======
          <h6><%= t(".about") %></h6>
          <p>
            <%= t(".content1") %>
>>>>>>> ddd1e0f... Design static pages
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-footer-widget">
<<<<<<< HEAD
          <h6><%= t ".news" %></h6>
          <p><%= t ".content2" %></p>
=======
          <h6><%= t(".news") %></h6>
          <p><%= t(".content2") %></p>
>>>>>>> ddd1e0f... Design static pages
          <div id="mc_embed_signup">
            <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscription relative">
              <div class="input-group d-flex flex-row">
                <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                <button class="btn bb-btn"><span class="lnr lnr-location"></span></button>
              </div>
              <div class="mt-10 info"></div>
            </form>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</footer>
