<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="flight" role="tabpanel" aria-labelledby="flight-tab">
    <%= form_for :pitch, method:"get", html: {class: "form-wrap"} do |f| %>
      <%= f.label :city %>
      <%= f.text_field :city, class: "form-control" %>
      <%= f.label :district %>
      <%= f.text_field :district, class: "form-control" %>
      <%= f.label :address %>
      <%= f.text_field :address, class: "form-control" %>
      <%= f.label :start_time, class: "font-starttime" %>
      <div class="start_time">
        <%= f.time_select :start_time, class: "form-control" %>
      </div>
      <div class="clear"></div>
      <%= f.label :end_time, class: "font-endtime" %>
      <div class="end_time">
        <%= f.time_select :end_time, class: "form-control" %>
      </div>
      <div class="clear"></div>
      <%= f.submit t(".search_pitch"), class: "btn btn-warning" %>
    <% end %>
  </div>
</div>
