<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title><%= yield :title %></title>
=======
    <title><%= t(".title") %></title>
>>>>>>> 3eed0507... Design static pages
    <%= render "layouts/shim" %>
    <%= render "layouts/rails_default" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
